.card_component{
          text-align: center;
          margin: auto;
}
.image{
          padding-top: 5px;
          width: 150px !important;
          height: auto;
          text-align: center;
          margin: auto;
}